*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.button{
    margin: 10px;
    padding: 0px;
}

.title{
    vertical-align: middle;
    font-size: 48px;
}

.container{
    margin: 60px;
    background-color: white;
     }

     .list{
        padding: 10px;
        list-style: none;
     }

