*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border-button{
border-bottom-color: lightgray;
border-bottom-width: 2px;
border-bottom-style: groove;
}


.title{
   display: inline-block;
   vertical-align: top;
}

.body{
    background-color:lightgray;
    font-family: Arial, sans-serif;
}

.header{
    font-family: Arial, sans-serif;
    background-color: white;
}

.button{
    color: white;
    padding: 10px 20px;
    border:lightseagreen;
    background: lightseagreen;
    margin: 10px;
    border-radius: 5%;
 }


.title{
    vertical-align: middle;
    font-size: 48px;
}

.container{
    margin: 60px;
    background-color: white;
     }

     .collection-list{
        padding: 10px;
        list-style: none;
    
     }

    .collection-item{
        padding: 10px;
        list-style: none;
    
    }

    .task-list{
        padding: 10px;
        list-style: none; 
       
    }

    .task-item{
   
        list-style: none;
    
    }

    .editorial{
        color: white;
        padding: 10px 20px;
        border:lightseagreen;
        background: lightseagreen;
        margin: 10px;
        border-radius: 40%;
    }

    .q1-goals{
        color: white;
        padding: 10px 20px;
        border:fuchsia;
        background: fuchsia;
        margin: 10px;
        border-radius: 40%;
    }

    .recruiting{
        color: white;
        padding: 10px 20px;
        border:forestgreen;
        background: forestgreen;
        margin: 10px;
        border-radius: 40%;
        
    }

    .mobile{
        color: white;
        padding: 10px 20px;
        border:lightsalmon;
        background: lightsalmon;
        margin: 10px;
        border-radius: 40%;
    }

    .website{
        color: white;
        padding: 10px 20px;
        border:palevioletred;
        background: palevioletred;
        margin: 10px;
        border-radius: 40%;
    }

    .sales{
        color: white;
        padding: 10px 20px;
        border:rgb(5, 231, 118);
        background: rgb(5, 231, 118);
        margin: 10px;
        border-radius: 40%;
        vertical-align: middle;
    }

