*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border-button{
border-bottom-color: lightgray;
border-bottom-width: 2px;
border-bottom-style: groove;
}


.title{
   display: inline-block;
   vertical-align: top;
}

.body{
    background-color:lightgray;
    font-family: Arial, sans-serif;
}

.header{
    font-family: Arial, sans-serif;
    background-color: white;
}

.button{
    color: white;
    padding: 10px 20px;
    border:lightseagreen;
    background: lightseagreen;
    margin: 10px;
    border-radius: 5%;
 }


.title{
    vertical-align: middle;
    font-size: 48px;
}

.container{
    margin: 60px;
    background-color: white;
     }

     .collection-list{
        padding: 10px;
        list-style: none;
     }

    .collection-item{
        padding: 10px;
        list-style: none;
    }

    .task-list{
        padding: 10px;
        list-style: none;    
    }

    .task-item{
   
        list-style: none;
    }

     .newtask{
        padding: 10px;
     }

     .today{
        padding: 10px;
     }

     .upcoming{
        padding: 10px;
     }

